.userListParent {
    flex: 4;
  }
  
  .userListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  
  .userListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: #fff;
    background-color: #3bb077;
    margin-right: 20px;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .cHover:hover{
      color: #007BCE !important;
  }